*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "left main right";
  font-family: "Lato";
}

.wrapper-education,
.wrapper-employment,
.wrapper-contact {
  display: grid;
  justify-content: center;
}

.cv-container {
  grid-column: 2/3;
  width: 45em;
  height: 42em;
  border: whitesmoke 1px solid;
  justify-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
  padding: 5%;
  margin-bottom: 2em;
  grid-template-columns: 80% 20%;
}

.edu-section-cv,
.work-section-cv {
  display: grid;
  grid-template-columns: 80% 20%;
}

.edu-section-cv p,
.edu-section-cv h4,
.work-section-cv p,
.work-section-cv h4 {
  grid-column: 1/2;
}

.edit {
  grid-column: 2/3;
  grid-row: 1/3;
}

.title {
  font-weight: 500;
}

.h4-cv {
  font: "Lato", regular;
}

#duty {
  font-weight: 300;
}

.dates-of-empledu {
  font: "Lato";
  font-style: italic;
  font-weight: 300;
}
.contact-section-cv,
.edu-section-cv,
.work-section-cv {
  margin: 2em;
}

.contact-section-cv {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
}

.contact-section-cv h3,
.contact-section-cv p {
}

.cs {
  grid-column: 5/6;
}

.top-header {
  top: 0;
  right: 0;
  position: fixed;
  height: 4%;
  background: #34b7eb;
  display: grid;
  padding: 15px;
  width: 100%;
  justify-content: right;
  z-index: 9999;
  align-content: center;
  margin-top: 0px;
  background-color: #fd9e02;
  margin-bottom: 4em;
  font-family: "Lato", light;
  color: white;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}
.contact,
.education,
.employment {
  display: grid;
  max-height: 0;
  overflow: hidden;
  grid-column: 2/3;
  transition: max-height 0.25s linear;
}

.header-contact,
.header-education,
.header-employment,
#generate {
  display: grid;
  grid-column: 2/3;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}

.header-contact {
  margin-top: 3em;
}

.contact-show,
.education-show,
.employment-show {
  display: grid;
  grid-column: 2/3;
  max-height: 700px;
  transition: max-height 0.25s linear;
  margin-top: 8px;
}

form {
  /* display: grid; */
  grid-template-columns: 1fr 0.5em 1fr;
  width: 100%;
  margin: 0 auto;
}

.header-button {
  border: none;
  background-color: #8ecae6;
  height: 50px;
  border-radius: 8px;
  width: 100%;
  display: grid;
  justify-self: center;
  align-content: center;
  justify-content: right;
  padding-right: 5%;
  font-family: "Lato", light;
  font-weight: 200;
  font-size: medium;
  transition: width 0.25s ease, background-color 2s ease;
}

.header-button:hover {
  background-color: #126782;
  width: 105%;
  transition: width 0.25s ease, background-color 2s ease;
}

input[type="text"],
textarea,
select,
option {
  border-radius: 12px;
  border: 1px solid lightgray;
  resize: none;
  height: 30px;
  grid-column: 3;
  width: 80%;
  margin: 6px !important;
  padding: 6px !important;
  font-family: "Lato";
}

label {
  padding: 6px;
  grid-column: 1;
  text-align: right;
  display: grid;
  align-content: center;
}

.button-not-ready {
  display: grid;
  grid-column: 2/3;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 4em;
  border: none;
  background-color: #219ebc;
  height: 50px;
  border-radius: 8px;
  width: 100%;
  display: grid;
  justify-self: center;
  align-content: center;
  justify-content: right;
  padding-right: 5%;
  font-family: "Lato", light;
  font-weight: 200;
  font-size: medium;
  transition: background-color 3s linear;
}

.button-ready {
  display: grid;
  grid-column: 2/3;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 4em;
  border: none;
  background-color: #ffb703;
  height: 50px;
  border-radius: 8px;
  width: 100%;
  display: grid;
  justify-self: center;
  align-content: center;
  justify-content: right;
  padding-right: 5%;
  font-family: "Lato", light;
  font-weight: 200;
  font-size: medium;
  transition: background-color 1s linear;
}

.submit-add {
  border-radius: 20px;
  background: white;
  border: 1px gray solid;
  width: 100px;
  height: 40px;
  margin: 6px;
}

.submit-add:hover {
  background: white;
  border: 1px #fd9e02 solid;
  color: #fd9e02;
}

.datepicker {
  grid-column: 3;
}

.submit-contact {
  grid-column: 2/3;
  justify-self: center;
}

#duties {
  height: 10em;
}

.loading-bar-start {
  width: 0px;
  height: 30px;
  background-color: green;
}

.loading-bar-loaded {
  width: 50px;
  height: 30px;
  background-color: green;
}

@media screen and (max-width: 600px) {
  label,
  form,
  textarea,
  .datepicker,
  select {
    grid-column: 1/4;
    text-align: center;
    width: 100%;
    justify-items: center;
  }
  .header-button,
  .button-not-ready,
  .button-ready {
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }
  .submit-add,
  .submit-contact {
    grid-column: 1/4;
    width: 50px;
    height: 20px;
  }
  .cv-container {
    width: 80%;
    grid-column: 1/4;
    font-size: 8px;
  }
}
